This database cleaner is for:

United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv

Steps to clean the file:

(**Name of relevant dataframe:  df, df_cases, df_deaths**)

1.  Chronological.  Change column "submission_date" dtype to datetime format. Place column "submission" in increasing order AND sort by "state" also.


2.  Column deletion.  Delete column "created_at".


3.  Retaining rows.  Keep row if value of either "consent_cases" or "consent_deaths" is Agree or Not Agree.


4.  Fill in missing values.  Replace all null values with the integer 0 for columns "tot_cases", "conf_cases", "prob_cases", "new_case", "pnew_case", "tot_death", "conf_death", "prob_death", "new_death", "pnew_death".


5.  Change datatype.  For columns "tot_cases", "conf_cases", "prob_cases", "new_case", "pnew_case", "tot_death", "conf_death", "prob_death", "new_death", "pnew_death", change dtype to integer.


6.  Apply OneHotEncoder.  At this poin columns "consent_cases" or "consent_deaths" will have values Agree, Not Agree, or N/A.  Apply OneHotEncoder to THREE columns:  "consent_cases", "consent_deaths", and "state."


7.  Assume that only the year is needed.  Extract the year and place it in a column "Year_submitted."  Delete the column "submission_date."

8.  Make a new dataframe for cases only.

9.  Make a new dataframe for deaths only.

10.  Perform a statistical analysis for columns "tot_cases" and "tot_death."


    (**Name of relevant dataframes:  df2, df2_cases_stats, df2_deaths_stats**)

    a.  Read "United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv" in again and give it a differenct name.
    
    b.  Perform a describe() on column "tot_cases" over the year 2020 only for all states.  The results apply to the           population of states.
    
    c.  Perform a describe() on column "tot_death" over the year 2020 only for all states.  The results apply to the           population of states.
    
    d.  Select a statistical measure to describe an assessment column for states relative to the population.  For             *starters* use the population mean.  For example, if the number of cases for a state is above or equal to the         population mean assign a 1 to the assessment column, and if less than the population mean assign a 0 for               the state to the assessment column.  An assessment column for cases will be assigned to the cases dataframe           and an assessment column for deaths will be assigned to the deaths dataframe.  
    
    e.  Apply the 2020 population mean assessment criterion to both the years 2020 and 2021. In this way the states           will be assessed against the previous year (2020) for testing.  *This means that training will done be on 2020         data and that the testing will be done on 2021 data (but using 2020 assessment criteria for assessing 2021             relative to 2020).*

11.  Add a columnn ">= 2020 mean" to df_cases.

12.  Populate ">= 2020 mean" with 1 or 0 as described above.

13.  Add a columnn ">= 2020 mean" to df_deaths.

14.  Populate ">= 2020 mean" with 1 or 0 as described above.

15.  Save df_cases as csv file.

16.  Save df_deaths as csv file.

Summary of dataframes used for this cleaning script:

**df**:  this is the *first* time "United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv" is read

**df_cases**:  this is made from df, and a new column ">= 2020 mean" is added to it based on statistical analysis from                df2_cases_stats

**df_deaths**: this is made from df, and a new column ">= 2020 mean" is added to it based on statistical analysis from                df2_cases_stats

**df2**:   this is the *second* time "United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv" is read

**df2_cases_stats**: this is from df2 and holds only columns needed for statistical analysis

**df2_deaths_stats**:  this is from df2 and holds only columns needed for statistical analysis

**This file is only for cleaning data to be used for input to a machine learning model.**  Machine learing models will have separate file(s) but will read in dataframes "df_cases" and "df_deaths."

In [137]:
#Import dependencies

import pandas as pd

In [138]:
# read the file

file_path = "Resources/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv"
df = pd.read_csv(file_path)
df.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,3/11/21,KS,297229,241035.0,56194.0,0,0.0,4851,NaN,NaN,0,0.0,3/12/21 15:20,Agree,NaN
1,3/19/20,FL,386,NaN,NaN,76,0.0,12,NaN,NaN,2,0.0,3/19/20 0:00,Not agree,Not agree
2,6/11/21,TX,2965966,NaN,NaN,1463,355.0,51158,NaN,NaN,17,0.0,6/13/21 0:00,Not agree,Not agree
3,3/1/21,CO,438745,411869.0,26876.0,677,60.0,5952,5218.0,734.0,1,0.0,3/1/21 0:00,Agree,Agree
4,8/22/20,AR,56199,NaN,NaN,547,0.0,674,NaN,NaN,11,0.0,8/23/20 14:15,Not agree,Not agree

In [139]:
df.columns

Index(['submission_date', 'state', 'tot_cases', 'conf_cases', 'prob_cases',
       'new_case', 'pnew_case', 'tot_death', 'conf_death', 'prob_death',
       'new_death', 'pnew_death', 'created_at', 'consent_cases',
       'consent_deaths'],
      dtype='object')

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38700 entries, 0 to 38699
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   submission_date  38700 non-null  object
 1   state            38700 non-null  object
 2   tot_cases        38700 non-null  int64
 3   conf_cases       20473 non-null  float64
 4   prob_cases       20401 non-null  float64
 5   new_case         38700 non-null  int64
 6   pnew_case        34696 non-null  float64
 7   tot_death        38700 non-null  int64
 8   conf_death       20343 non-null  float64
 9   prob_death       20343 non-null  float64
 10  new_death        38700 non-null  int64
 11  pnew_death       34635 non-null  float64
 12  created_at       38700 non-null  object
 13  consent_cases    32245 non-null  object
 14  consent_deaths   32895 non-null  object
dtypes: float64(6), int64(4), object(5)
memory usage: 4.4+ MB

**Step 1**

In [141]:
# Change column "submission" dtype to datetime format.

df["submission_date"] = pd.to_datetime(df["submission_date"])
df.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,2021-03-11,KS,297229,241035.0,56194.0,0,0.0,4851,NaN,NaN,0,0.0,3/12/21 15:20,Agree,NaN
1,2020-03-19,FL,386,NaN,NaN,76,0.0,12,NaN,NaN,2,0.0,3/19/20 0:00,Not agree,Not agree
2,2021-06-11,TX,2965966,NaN,NaN,1463,355.0,51158,NaN,NaN,17,0.0,6/13/21 0:00,Not agree,Not agree
3,2021-03-01,CO,438745,411869.0,26876.0,677,60.0,5952,5218.0,734.0,1,0.0,3/1/21 0:00,Agree,Agree
4,2020-08-22,AR,56199,NaN,NaN,547,0.0,674,NaN,NaN,11,0.0,8/23/20 14:15,Not agree,Not agree

In [142]:
# Place column "submission" in increasing order AND sort by "state" also.

df = df.sort_values(by = ["submission_date", "state"])
df.head(200)

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
3969,2020-01-22,AK,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,3/26/20 16:22,NaN,NaN
24632,2020-01-22,AL,7,6.0,1.0,7,1.0,0,0.0,0.0,0,0.0,1/24/20 0:00,Agree,Agree
34496,2020-01-22,AR,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,3/26/20 16:22,Not agree,Not agree
5334,2020-01-22,AS,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,3/26/20 16:22,NaN,NaN
30600,2020-01-22,AZ,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,3/26/20 16:22,Agree,Agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,2020-01-25,IA,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,3/26/20 16:22,Not agree,Not agree
10372,2020-01-25,ID,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,3/26/20 16:22,Agree,Agree
10924,2020-01-25,IL,1,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,3/26/20 16:22,Agree,Agree
23129,2020-01-25,IN,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,3/26/20 16:22,Not agree,Agree
31796,2020-01-25,KS,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,3/26/20 16:22,Agree,NaN

**Step 2**

In [143]:
# Delete column "created_at".

df.drop(columns=["created_at"], inplace = True)
df.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,consent_cases,consent_deaths
3969,2020-01-22,AK,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,NaN,NaN
24632,2020-01-22,AL,7,6.0,1.0,7,1.0,0,0.0,0.0,0,0.0,Agree,Agree
34496,2020-01-22,AR,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,Not agree,Not agree
5334,2020-01-22,AS,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,NaN,NaN
30600,2020-01-22,AZ,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,Agree,Agree

**Step 3**

In [144]:
# Keep row if value of either "consent_cases" or "consent_deaths" is Agree or Not Agree.
df = df.loc[(df["consent_cases"]=="Agree")|(df["consent_deaths"]=="Agree") ]
df.head(200)

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,consent_cases,consent_deaths
24632,2020-01-22,AL,7,6.0,1.0,7,1.0,0,0.0,0.0,0,0.0,Agree,Agree
30600,2020-01-22,AZ,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,Agree,Agree
19662,2020-01-22,CA,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,Agree,Not agree
4559,2020-01-22,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,Agree,Agree
12045,2020-01-22,CT,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,Agree,Agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32489,2020-01-26,NYC,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,Agree,Agree
37010,2020-01-26,OH,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,Agree,Agree
5058,2020-01-26,OK,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,Not agree,Agree
29275,2020-01-26,OR,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,Agree,Agree
37035,2020-01-26,PA,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,Agree,Not agree

**Step 4**

In [145]:
# Fill in missing values.  Replace all null values with the integer 0 for columns "tot_cases", "conf_cases",
#"prob_cases", "new_case", "pnew_case", "tot_death", "conf_death", "prob_death", "new_death", "pnew_death".

zero_list = ["tot_cases", "conf_cases","prob_cases", "new_case","pnew_case", "tot_death","conf_death", "prob_death","new_death", "pnew_death"]

for x in zero_list:
    df[x] = df[x].fillna(0)

df.head(200)

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,consent_cases,consent_deaths
24632,2020-01-22,AL,7,6.0,1.0,7,1.0,0,0.0,0.0,0,0.0,Agree,Agree
30600,2020-01-22,AZ,0,0.0,0.0,0,0.0,0,0.0,0.0,0,0.0,Agree,Agree
19662,2020-01-22,CA,0,0.0,0.0,0,0.0,0,0.0,0.0,0,0.0,Agree,Not agree
4559,2020-01-22,CO,0,0.0,0.0,0,0.0,0,0.0,0.0,0,0.0,Agree,Agree
12045,2020-01-22,CT,0,0.0,0.0,0,0.0,0,0.0,0.0,0,0.0,Agree,Agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32489,2020-01-26,NYC,0,0.0,0.0,0,0.0,0,0.0,0.0,0,0.0,Agree,Agree
37010,2020-01-26,OH,0,0.0,0.0,0,0.0,0,0.0,0.0,0,0.0,Agree,Agree
5058,2020-01-26,OK,0,0.0,0.0,0,0.0,0,0.0,0.0,0,0.0,Not agree,Agree
29275,2020-01-26,OR,0,0.0,0.0,0,0.0,0,0.0,0.0,0,0.0,Agree,Agree
37035,2020-01-26,PA,0,0.0,0.0,0,0.0,0,0.0,0.0,0,0.0,Agree,Not agree

**Step 5**

In [146]:
# For columns "tot_cases", "conf_cases", "prob_cases", "new_case", "pnew_case", "tot_death", "conf_death",
# "prob_death", "new_death", "pnew_death", change dtype to integer.


col_headers = ["tot_cases", "conf_cases", "prob_cases", "new_case", "pnew_case", "tot_death", "conf_death",
"prob_death", "new_death", "pnew_death"]

for col in col_headers:
    df[col]=df[col].astype("int64")

df.head(200)

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,consent_cases,consent_deaths
24632,2020-01-22,AL,7,6,1,7,1,0,0,0,0,0,Agree,Agree
30600,2020-01-22,AZ,0,0,0,0,0,0,0,0,0,0,Agree,Agree
19662,2020-01-22,CA,0,0,0,0,0,0,0,0,0,0,Agree,Not agree
4559,2020-01-22,CO,0,0,0,0,0,0,0,0,0,0,Agree,Agree
12045,2020-01-22,CT,0,0,0,0,0,0,0,0,0,0,Agree,Agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32489,2020-01-26,NYC,0,0,0,0,0,0,0,0,0,0,Agree,Agree
37010,2020-01-26,OH,0,0,0,0,0,0,0,0,0,0,Agree,Agree
5058,2020-01-26,OK,0,0,0,0,0,0,0,0,0,0,Not agree,Agree
29275,2020-01-26,OR,0,0,0,0,0,0,0,0,0,0,Agree,Agree
37035,2020-01-26,PA,0,0,0,0,0,0,0,0,0,0,Agree,Not agree

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26533 entries, 24632 to 27816
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   submission_date  26533 non-null  datetime64[ns]
 1   state            26533 non-null  object
 2   tot_cases        26533 non-null  int64
 3   conf_cases       26533 non-null  int64
 4   prob_cases       26533 non-null  int64
 5   new_case         26533 non-null  int64
 6   pnew_case        26533 non-null  int64
 7   tot_death        26533 non-null  int64
 8   conf_death       26533 non-null  int64
 9   prob_death       26533 non-null  int64
 10  new_death        26533 non-null  int64
 11  pnew_death       26533 non-null  int64
 12  consent_cases    24598 non-null  object
 13  consent_deaths   25248 non-null  object
dtypes: datetime64[ns](1), int64(10), object(3)
memory usage: 3.0+ MB

**Step 6**

In [148]:
# import dependencies

from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [149]:
obj_list = df.dtypes[df.dtypes == "object"].index.to_list()
obj_list

['state', 'consent_cases', 'consent_deaths']

In [150]:
# Apply OneHotEncoder to THREE columns:  "consent_cases", "consent_deaths", and "state."

enc = OneHotEncoder(sparse = False)
encoded_df = pd.DataFrame(enc.fit_transform(df[obj_list]))
encoded_df.columns = enc.get_feature_names(obj_list)
encoded_df.head(200)

,state_AL,state_AZ,state_CA,state_CO,state_CT,state_DE,state_FSM,state_GA,state_ID,state_IL,...,state_VA,state_WI,state_WV,state_WY,consent_cases_Agree,consent_cases_Not agree,consent_cases_nan,consent_deaths_Agree,consent_deaths_Not agree,consent_deaths_nan
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [151]:
df = df.merge(encoded_df, left_index = True, right_index = True)
df = df.drop(obj_list, 1)
df.head(200)

,submission_date,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,...,state_VA,state_WI,state_WV,state_WY,consent_cases_Agree,consent_cases_Not agree,consent_cases_nan,consent_deaths_Agree,consent_deaths_Not agree,consent_deaths_nan
24632,2020-01-22,7,6,1,7,1,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
19662,2020-01-22,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4559,2020-01-22,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
12045,2020-01-22,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
19606,2020-01-22,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16093,2020-01-28,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
7151,2020-01-28,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
17481,2020-01-28,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
22238,2020-01-28,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3073,2020-01-28,0,0,0,0,0,0,0,0,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

**Step 7**

In [152]:
# Extract the year and place it in a column "Year_submitted."  Delete the column "submission_date."

df["Year_submitted"] = df["submission_date"].dt.year
df.head()

,submission_date,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,...,state_WI,state_WV,state_WY,consent_cases_Agree,consent_cases_Not agree,consent_cases_nan,consent_deaths_Agree,consent_deaths_Not agree,consent_deaths_nan,Year_submitted
24632,2020-01-22,7,6,1,7,1,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,2020
19662,2020-01-22,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2020
4559,2020-01-22,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2020
12045,2020-01-22,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2020
19606,2020-01-22,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2020

In [153]:
df.drop(columns = ["submission_date"], inplace = True)

In [154]:
# reorder columns
df_columns = df.columns.to_list()
df_columns_new = [
'Year_submitted',
'tot_cases',
 'conf_cases',
 'prob_cases',
 'new_case',
 'pnew_case',
 'tot_death',
 'conf_death',
 'prob_death',
 'new_death',
 'pnew_death',
 'state_AL',
 'state_AZ',
 'state_CA',
 'state_CO',
 'state_CT',
 'state_DE',
 'state_FSM',
 'state_GA',
 'state_ID',
 'state_IL',
 'state_IN',
 'state_KS',
 'state_KY',
 'state_LA',
 'state_MA',
 'state_MD',
 'state_ME',
 'state_MI',
 'state_MN',
 'state_MP',
 'state_MS',
 'state_MT',
 'state_NC',
 'state_ND',
 'state_NE',
 'state_NJ',
 'state_NV',
 'state_NYC',
 'state_OH',
 'state_OK',
 'state_OR',
 'state_PA',
 'state_PR',
 'state_RMI',
 'state_SC',
 'state_SD',
 'state_TN',
 'state_UT',
 'state_VA',
 'state_WI',
 'state_WV',
 'state_WY',
 'consent_cases_Agree',
 'consent_cases_Not agree',
 'consent_cases_nan',
 'consent_deaths_Agree',
 'consent_deaths_Not agree',
 'consent_deaths_nan'
 ]
df_columns_new

['Year_submitted',
 'tot_cases',
 'conf_cases',
 'prob_cases',
 'new_case',
 'pnew_case',
 'tot_death',
 'conf_death',
 'prob_death',
 'new_death',
 'pnew_death',
 'state_AL',
 'state_AZ',
 'state_CA',
 'state_CO',
 'state_CT',
 'state_DE',
 'state_FSM',
 'state_GA',
 'state_ID',
 'state_IL',
 'state_IN',
 'state_KS',
 'state_KY',
 'state_LA',
 'state_MA',
 'state_MD',
 'state_ME',
 'state_MI',
 'state_MN',
 'state_MP',
 'state_MS',
 'state_MT',
 'state_NC',
 'state_ND',
 'state_NE',
 'state_NJ',
 'state_NV',
 'state_NYC',
 'state_OH',
 'state_OK',
 'state_OR',
 'state_PA',
 'state_PR',
 'state_RMI',
 'state_SC',
 'state_SD',
 'state_TN',
 'state_UT',
 'state_VA',
 'state_WI',
 'state_WV',
 'state_WY',
 'consent_cases_Agree',
 'consent_cases_Not agree',
 'consent_cases_nan',
 'consent_deaths_Agree',
 'consent_deaths_Not agree',
 'consent_deaths_nan']

In [155]:
len(df_columns_new)

59

In [156]:
df = df.reindex(columns = df_columns_new)
df.head()

,Year_submitted,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,...,state_VA,state_WI,state_WV,state_WY,consent_cases_Agree,consent_cases_Not agree,consent_cases_nan,consent_deaths_Agree,consent_deaths_Not agree,consent_deaths_nan
24632,2020,7,6,1,7,1,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
19662,2020,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4559,2020,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
12045,2020,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
19606,2020,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

**Step 8**

In [178]:
#. Make a new dataframe for cases only.

columns_cases = [
'Year_submitted',
'tot_cases',
 'conf_cases',
 'prob_cases',
 'new_case',
 'pnew_case',
 'state_AL',
 'state_AZ',
 'state_CA',
 'state_CO',
 'state_CT',
 'state_DE',
 'state_FSM',
 'state_GA',
 'state_ID',
 'state_IL',
 'state_IN',
 'state_KS',
 'state_KY',
 'state_LA',
 'state_MA',
 'state_MD',
 'state_ME',
 'state_MI',
 'state_MN',
 'state_MP',
 'state_MS',
 'state_MT',
 'state_NC',
 'state_ND',
 'state_NE',
 'state_NJ',
 'state_NV',
 'state_NYC',
 'state_OH',
 'state_OK',
 'state_OR',
 'state_PA',
 'state_PR',
 'state_RMI',
 'state_SC',
 'state_SD',
 'state_TN',
 'state_UT',
 'state_VA',
 'state_WI',
 'state_WV',
 'state_WY',
 'consent_cases_Agree',
 'consent_cases_Not agree',
 'consent_cases_nan'
 ]

df_cases = df.copy()
df_cases.drop(columns = ['tot_death','conf_death','prob_death','new_death','pnew_death','consent_deaths_Agree',
 'consent_deaths_Not agree','consent_deaths_nan'], inplace = True)

df_cases.head(200)

,Year_submitted,tot_cases,conf_cases,prob_cases,new_case,pnew_case,state_AL,state_AZ,state_CA,state_CO,...,state_SD,state_TN,state_UT,state_VA,state_WI,state_WV,state_WY,consent_cases_Agree,consent_cases_Not agree,consent_cases_nan
24632,2020,7,6,1,7,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
19662,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4559,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12045,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
19606,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16093,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7151,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
17481,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
22238,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3073,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [179]:
df_cases.dtypes

Year_submitted               int64
tot_cases                    int64
conf_cases                   int64
prob_cases                   int64
new_case                     int64
pnew_case                    int64
state_AL                   float64
state_AZ                   float64
state_CA                   float64
state_CO                   float64
state_CT                   float64
state_DE                   float64
state_FSM                  float64
state_GA                   float64
state_ID                   float64
state_IL                   float64
state_IN                   float64
state_KS                   float64
state_KY                   float64
state_LA                   float64
state_MA                   float64
state_MD                   float64
state_ME                   float64
state_MI                   float64
state_MN                   float64
state_MP                   float64
state_MS                   float64
state_MT                   float64
state_NC                   float64
state_ND                   float64
state_NE                   float64
state_NJ                   float64
state_NV                   float64
state_NYC                  float64
state_OH                   float64
state_OK                   float64
state_OR                   float64
state_PA                   float64
state_PR                   float64
state_RMI                  float64
state_SC                   float64
state_SD                   float64
state_TN                   float64
state_UT                   float64
state_VA                   float64
state_WI                   float64
state_WV                   float64
state_WY                   float64
consent_cases_Agree        float64
consent_cases_Not agree    float64
consent_cases_nan          float64
dtype: object

**Step 9**

In [180]:
# Make a dataframe for deaths only

columns_deaths = [
'Year_submitted',
 'tot_death',
 'conf_death',
 'prob_death',
 'new_death',
 'pnew_death',
 'state_AL',
 'state_AZ',
 'state_CA',
 'state_CO',
 'state_CT',
 'state_DE',
 'state_FSM',
 'state_GA',
 'state_ID',
 'state_IL',
 'state_IN',
 'state_KS',
 'state_KY',
 'state_LA',
 'state_MA',
 'state_MD',
 'state_ME',
 'state_MI',
 'state_MN',
 'state_MP',
 'state_MS',
 'state_MT',
 'state_NC',
 'state_ND',
 'state_NE',
 'state_NJ',
 'state_NV',
 'state_NYC',
 'state_OH',
 'state_OK',
 'state_OR',
 'state_PA',
 'state_PR',
 'state_RMI',
 'state_SC',
 'state_SD',
 'state_TN',
 'state_UT',
 'state_VA',
 'state_WI',
 'state_WV',
 'state_WY',
 'consent_deaths_Agree',
 'consent_deaths_Not agree',
 'consent_deaths_nan'
 ]

df_deaths = df.copy()
df_deaths.drop(columns = ['tot_cases','conf_cases','prob_cases','new_case','pnew_case','consent_cases_Agree',
'consent_cases_Not agree','consent_cases_nan'], inplace = True)

df_deaths.head(200)

,Year_submitted,tot_death,conf_death,prob_death,new_death,pnew_death,state_AL,state_AZ,state_CA,state_CO,...,state_SD,state_TN,state_UT,state_VA,state_WI,state_WV,state_WY,consent_deaths_Agree,consent_deaths_Not agree,consent_deaths_nan
24632,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
19662,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4559,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12045,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
19606,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16093,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7151,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
17481,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
22238,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3073,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

**Step 10**

In [181]:
#  perform a statistical analysis for columns "tot_cases" and "tot_death."

# Read "United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv" in again and give it a differenct name.

file_path = "Resources/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv"
df2 = pd.read_csv(file_path)
df2.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,3/11/21,KS,297229,241035.0,56194.0,0,0.0,4851,NaN,NaN,0,0.0,3/12/21 15:20,Agree,NaN
1,3/19/20,FL,386,NaN,NaN,76,0.0,12,NaN,NaN,2,0.0,3/19/20 0:00,Not agree,Not agree
2,6/11/21,TX,2965966,NaN,NaN,1463,355.0,51158,NaN,NaN,17,0.0,6/13/21 0:00,Not agree,Not agree
3,3/1/21,CO,438745,411869.0,26876.0,677,60.0,5952,5218.0,734.0,1,0.0,3/1/21 0:00,Agree,Agree
4,8/22/20,AR,56199,NaN,NaN,547,0.0,674,NaN,NaN,11,0.0,8/23/20 14:15,Not agree,Not agree

In [182]:
df2.shape

(38700, 15)

In [183]:
df2_headers = df2.columns.to_list()
df2_headers

['submission_date',
 'state',
 'tot_cases',
 'conf_cases',
 'prob_cases',
 'new_case',
 'pnew_case',
 'tot_death',
 'conf_death',
 'prob_death',
 'new_death',
 'pnew_death',
 'created_at',
 'consent_cases',
 'consent_deaths']

In [184]:
# Perform a describe() on column "tot_cases" over the year 2020 only for all states.  The results apply to the 
# population of states.


df2_cases_stats = df2.copy()
df2_cases_stats.drop(columns = ['conf_cases','prob_cases','new_case','pnew_case','tot_death','conf_death',
'prob_death','new_death','pnew_death','created_at','consent_cases','consent_deaths'], inplace = True)
df2_cases_stats["submission_date"] = pd.to_datetime(df2_cases_stats["submission_date"])
df2_cases_stats["tot_cases"] = df2_cases_stats["tot_cases"].fillna(0)
df2_cases_stats["tot_cases"] = df2_cases_stats["tot_cases"].astype("int64")
df2_cases_stats = df2_cases_stats.sort_values(by=["submission_date","state"] )
df2_cases_stats["Year_submitted"] = df2_cases_stats["submission_date"].dt.year
df2_cases_stats.drop(columns = ["submission_date"], inplace = True)
df2_cases_stats = df2_cases_stats.reindex(columns = ["Year_submitted", "state", "tot_cases"])

# find only 2020 data for cases

df2_cases_stats = df2_cases_stats.loc[df2_cases_stats["Year_submitted"]==2020]
df2_cases_mean = df2_cases_stats["tot_cases"].mean()
df2_cases_mean

85614.00198067633

In [164]:
# Perform a describe() on column "tot_death" over the year 2020 only for all states.  The results apply to the 
# population of states.


df2_deaths_stats = df2.copy()
df2_deaths_stats.drop(columns = ['tot_cases', 'conf_cases','prob_cases','new_case','pnew_case','conf_death',
'prob_death','new_death','pnew_death','created_at','consent_cases','consent_deaths'], inplace = True)
df2_deaths_stats["submission_date"] = pd.to_datetime(df2_deaths_stats["submission_date"])
df2_deaths_stats["tot_death"] = df2_deaths_stats["tot_death"].fillna(0)
df2_deaths_stats["tot_death"] = df2_deaths_stats["tot_death"].astype("int64")
df2_deaths_stats = df2_deaths_stats.sort_values(by=["submission_date","state"] )
df2_deaths_stats["Year_submitted"] = df2_deaths_stats["submission_date"].dt.year
df2_deaths_stats.drop(columns = ["submission_date"], inplace = True)
df2_deaths_stats = df2_deaths_stats.reindex(columns = ["Year_submitted", "state", "tot_death"])

# find only 2020 data for deaths

df2_deaths_stats = df2_deaths_stats.loc[df2_deaths_stats["Year_submitted"]==2020]
df2_deaths_mean = df2_deaths_stats["tot_death"].mean()
df2_deaths_mean

2350.995652173913

**Steps 10d, 10e, 11, 12, 13, 14**

In [187]:
# Select a statistical measure to describe an assessment column for states relative to the population. 
# For starters use the population mean.  For example, if the number of cases for a state is above or equal
# to the population mean assign a 1 to the assessment column, and if less than the population mean
# assign a 0 for the state to the assessment column.  An assessment column for cases will be assigned to 
# the cases dataframe and an assessment column for deaths will be assigned to the deaths dataframe.

# Apply the 2020 population mean assessment criterion to both the years 2020 and 2021. In this way the states
# will be assessed against the previous year (2020) for testing.  This means that training will done be on 2020
# data and that the testing will be done on 2021 data (but using 2020 assessment criteria for assessing 2021
# relative to 2020).

# Add a columnn ">= 2020 mean" to df_cases.

# Populate ">= 2020 mean" with 1 or 0 as described above.

# Add a columnn ">= 2020 mean" to df_deaths.

# Populate ">= 2020 mean" with 1 or 0 as described above.


# cases

tot_cases_list = df2["tot_cases"].to_list()

for x in tot_cases_list:
    if x >= int(df2_cases_mean):
        df_cases["2020_mean_cases"] = 1
    else:
        df_cases["2020_mean_cases"] = 0


# deaths

tot_deaths_list = df2["tot_death"].to_list()

for x in tot_deaths_list:
    if x >= int(df2_deaths_mean):
        df_deaths["2020_mean_deaths"] = 1
    else:
        df_deaths["2020_mean_deaths"] = 0

#df_cases.head()
#df_deaths.head()

,Year_submitted,tot_death,conf_death,prob_death,new_death,pnew_death,state_AL,state_AZ,state_CA,state_CO,...,state_TN,state_UT,state_VA,state_WI,state_WV,state_WY,consent_deaths_Agree,consent_deaths_Not agree,consent_deaths_nan,2020_mean_deaths
24632,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
19662,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
4559,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
12045,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
19606,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1

**Step 15**

In [188]:
import os

In [189]:
# Save df_cases as csv file.

os.makedirs("Cases_Cleaned/",exist_ok=True)
df_cases.to_csv('Cases_Cleaned/ML_casea.csv', index = False)

**Step 16**

In [191]:
# Save df_deaths as csv file.

os.makedirs("Deaths_Cleaned/",exist_ok=True)
df_deaths.to_csv('Deaths_Cleaned/ML_deaths.csv', index = False)