## This Notebook:

1) links to the AWS database

2) cleans the AWS database

3) creates a local path for the output Cases_Cleaned/ML_cases.csv

4) creates a local path for the output Deaths_Cleaned/ML_deaths.csv

5) ML model for cases reads ML_cases.csv

6) ML model for cases saves output to user-defined location

5) ML model for deaths reads ML_deaths.csv

6) ML model for deaths saves output to user-defined location

7) creates PostgresSQL database for machine learning models

## Working:

w1)  create data input<br>
w2)  format data into Pandas DataFrame<br>
w3)  import DataFrame into PostgresSQL database (locally)<br>

In [529]:
# import dependencies

import pandas as pd

In [530]:
#results database information

name_nb = "ML_pn_rev0"

In [531]:
#results database information

run_dt = pd.to_datetime('now').strftime('%Y-%m-%d %H:%M:%S')

In [754]:
#results database information
run_nb = {}
run_counter = 2
# run_counter +=1
run_nb['notebook'] = run_counter
run_nb

{'notebook': 2}

## AWS db cleaner

FILE:  United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv

SOURCE:  AWS download from SQL database

**RELEVANT DATAFRAMES:  df, df_cases, df_deaths**

In [533]:
#Import dependencies

import re

### **Step 1:**  

Read AWS file into Pandas

In [534]:
# read the file

file_path = "https://initial-datasets.s3.amazonaws.com/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv"
df = pd.read_csv(file_path)
df

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,1/22/20,AK,-,NaN,NaN,-,NaN,-,NaN,NaN,-,NaN,3/26/20 16:22,NaN,NaN
1,1/23/20,AK,-,NaN,NaN,-,NaN,-,NaN,NaN,-,NaN,3/26/20 16:22,NaN,NaN
2,1/24/20,AK,-,NaN,NaN,-,NaN,-,NaN,NaN,-,NaN,3/26/20 16:22,NaN,NaN
3,1/25/20,AK,-,NaN,NaN,-,NaN,-,NaN,NaN,-,NaN,3/26/20 16:22,NaN,NaN
4,1/26/20,AK,-,NaN,NaN,-,NaN,-,NaN,NaN,-,NaN,3/26/20 16:22,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38755,10/24/21,WY,"100,174","80,401","19,773",-,-,"1,149","1,149",-,-,-,10/25/21 17:00,Agree,Agree
38756,10/25/21,WY,"101,083","81,127","19,956",909,183,"1,149","1,149",-,-,-,10/26/21 13:58,Agree,Agree
38757,10/26/21,WY,"101,424","81,337","20,087",341,131,"1,174","1,174",-,25,-,10/27/21 14:21,Agree,Agree
38758,10/27/21,WY,"101,912","81,641","20,271",488,184,"1,174","1,174",-,-,-,10/28/21 14:08,Agree,Agree
38759,10/28/21,WY,"102,403","81,988","20,415",491,144,"1,174","1,174",-,-,-,10/29/21 14:10,Agree,Agree

In [535]:
#results database information


if file_path == "https://initial-datasets.s3.amazonaws.com/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv":
    source_db = "AWS database csv file"
    file_id = file_path
else:
    source_db = "CDC website csv file"
    file_id = file_path

In [536]:
df.columns

Index(['submission_date', 'state', 'tot_cases', 'conf_cases', 'prob_cases',
       'new_case', 'pnew_case', 'tot_death', 'conf_death', 'prob_death',
       'new_death', 'pnew_death', 'created_at', 'consent_cases',
       'consent_deaths'],
      dtype='object')

In [537]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38760 entries, 0 to 38759
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   submission_date  38760 non-null  object
 1   state            38760 non-null  object
 2   tot_cases        38760 non-null  object
 3   conf_cases       20510 non-null  object
 4   prob_cases       20438 non-null  object
 5   new_case         38760 non-null  object
 6   pnew_case        34756 non-null  object
 7   tot_death        38760 non-null  object
 8   conf_death       20379 non-null  object
 9   prob_death       20379 non-null  object
 10  new_death        38760 non-null  object
 11  pnew_death       34695 non-null  object
 12  created_at       38760 non-null  object
 13  consent_cases    32295 non-null  object
 14  consent_deaths   32946 non-null  object
dtypes: object(15)
memory usage: 4.4+ MB

### **Step 2:**  
    
Transform columns into integers

In [538]:
to_num_list = ["tot_cases", "conf_cases", "prob_cases", "new_case", "pnew_case", 
              "tot_death", "conf_death", "prob_death", "new_death", "pnew_death"]

for x in to_num_list:
    df[x] = df[x].str.replace("-", "0", regex = True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38760 entries, 0 to 38759
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   submission_date  38760 non-null  object
 1   state            38760 non-null  object
 2   tot_cases        38760 non-null  object
 3   conf_cases       20510 non-null  object
 4   prob_cases       20438 non-null  object
 5   new_case         38760 non-null  object
 6   pnew_case        34756 non-null  object
 7   tot_death        38760 non-null  object
 8   conf_death       20379 non-null  object
 9   prob_death       20379 non-null  object
 10  new_death        38760 non-null  object
 11  pnew_death       34695 non-null  object
 12  created_at       38760 non-null  object
 13  consent_cases    32295 non-null  object
 14  consent_deaths   32946 non-null  object
dtypes: object(15)
memory usage: 4.4+ MB

In [539]:

for x in to_num_list:
    df[x] = df[x].str.replace( '    ', "0", regex = True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38760 entries, 0 to 38759
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   submission_date  38760 non-null  object
 1   state            38760 non-null  object
 2   tot_cases        38760 non-null  object
 3   conf_cases       20510 non-null  object
 4   prob_cases       20438 non-null  object
 5   new_case         38760 non-null  object
 6   pnew_case        34756 non-null  object
 7   tot_death        38760 non-null  object
 8   conf_death       20379 non-null  object
 9   prob_death       20379 non-null  object
 10  new_death        38760 non-null  object
 11  pnew_death       34695 non-null  object
 12  created_at       38760 non-null  object
 13  consent_cases    32295 non-null  object
 14  consent_deaths   32946 non-null  object
dtypes: object(15)
memory usage: 4.4+ MB

In [540]:
for x in to_num_list:
    df[x] = df[x].str.replace(",", "", regex = True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38760 entries, 0 to 38759
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   submission_date  38760 non-null  object
 1   state            38760 non-null  object
 2   tot_cases        38760 non-null  object
 3   conf_cases       20510 non-null  object
 4   prob_cases       20438 non-null  object
 5   new_case         38760 non-null  object
 6   pnew_case        34756 non-null  object
 7   tot_death        38760 non-null  object
 8   conf_death       20379 non-null  object
 9   prob_death       20379 non-null  object
 10  new_death        38760 non-null  object
 11  pnew_death       34695 non-null  object
 12  created_at       38760 non-null  object
 13  consent_cases    32295 non-null  object
 14  consent_deaths   32946 non-null  object
dtypes: object(15)
memory usage: 4.4+ MB

In [541]:
df

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,1/22/20,AK,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,3/26/20 16:22,NaN,NaN
1,1/23/20,AK,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,3/26/20 16:22,NaN,NaN
2,1/24/20,AK,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,3/26/20 16:22,NaN,NaN
3,1/25/20,AK,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,3/26/20 16:22,NaN,NaN
4,1/26/20,AK,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,3/26/20 16:22,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38755,10/24/21,WY,100174,80401,19773,0,0,1149,1149,0,0,0,10/25/21 17:00,Agree,Agree
38756,10/25/21,WY,101083,81127,19956,909,183,1149,1149,0,0,0,10/26/21 13:58,Agree,Agree
38757,10/26/21,WY,101424,81337,20087,341,131,1174,1174,0,25,0,10/27/21 14:21,Agree,Agree
38758,10/27/21,WY,101912,81641,20271,488,184,1174,1174,0,0,0,10/28/21 14:08,Agree,Agree
38759,10/28/21,WY,102403,81988,20415,491,144,1174,1174,0,0,0,10/29/21 14:10,Agree,Agree

In [542]:

for x in to_num_list:
    df[x] = df[x].fillna(0)

df

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,1/22/20,AK,0,0,0,0,0,0,0,0,0,0,3/26/20 16:22,NaN,NaN
1,1/23/20,AK,0,0,0,0,0,0,0,0,0,0,3/26/20 16:22,NaN,NaN
2,1/24/20,AK,0,0,0,0,0,0,0,0,0,0,3/26/20 16:22,NaN,NaN
3,1/25/20,AK,0,0,0,0,0,0,0,0,0,0,3/26/20 16:22,NaN,NaN
4,1/26/20,AK,0,0,0,0,0,0,0,0,0,0,3/26/20 16:22,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38755,10/24/21,WY,100174,80401,19773,0,0,1149,1149,0,0,0,10/25/21 17:00,Agree,Agree
38756,10/25/21,WY,101083,81127,19956,909,183,1149,1149,0,0,0,10/26/21 13:58,Agree,Agree
38757,10/26/21,WY,101424,81337,20087,341,131,1174,1174,0,25,0,10/27/21 14:21,Agree,Agree
38758,10/27/21,WY,101912,81641,20271,488,184,1174,1174,0,0,0,10/28/21 14:08,Agree,Agree
38759,10/28/21,WY,102403,81988,20415,491,144,1174,1174,0,0,0,10/29/21 14:10,Agree,Agree

In [543]:

for x in to_num_list:
    df.drop(df[df[x] ==' (400)'].index)

In [544]:
for x in to_num_list:
    df[x] = pd.to_numeric(df[x], errors="coerce")

In [545]:

for x in to_num_list:
    df[x] = df[x].fillna(0)

df

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,1/22/20,AK,0,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,NaN,NaN
1,1/23/20,AK,0,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,NaN,NaN
2,1/24/20,AK,0,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,NaN,NaN
3,1/25/20,AK,0,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,NaN,NaN
4,1/26/20,AK,0,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38755,10/24/21,WY,100174,80401,19773,0.0,0.0,1149,1149,0,0.0,0.0,10/25/21 17:00,Agree,Agree
38756,10/25/21,WY,101083,81127,19956,909.0,183.0,1149,1149,0,0.0,0.0,10/26/21 13:58,Agree,Agree
38757,10/26/21,WY,101424,81337,20087,341.0,131.0,1174,1174,0,25.0,0.0,10/27/21 14:21,Agree,Agree
38758,10/27/21,WY,101912,81641,20271,488.0,184.0,1174,1174,0,0.0,0.0,10/28/21 14:08,Agree,Agree
38759,10/28/21,WY,102403,81988,20415,491.0,144.0,1174,1174,0,0.0,0.0,10/29/21 14:10,Agree,Agree

In [546]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38760 entries, 0 to 38759
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   submission_date  38760 non-null  object
 1   state            38760 non-null  object
 2   tot_cases        38760 non-null  int64
 3   conf_cases       38760 non-null  int64
 4   prob_cases       38760 non-null  int64
 5   new_case         38760 non-null  float64
 6   pnew_case        38760 non-null  float64
 7   tot_death        38760 non-null  int64
 8   conf_death       38760 non-null  int64
 9   prob_death       38760 non-null  int64
 10  new_death        38760 non-null  float64
 11  pnew_death       38760 non-null  float64
 12  created_at       38760 non-null  object
 13  consent_cases    32295 non-null  object
 14  consent_deaths   32946 non-null  object
dtypes: float64(4), int64(6), object(5)
memory usage: 4.4+ MB

In [547]:

df["state"] = df["state"].astype(str)
df["state"].dtypes

dtype('O')

In [548]:
# Change column "submission" dtype to datetime format.

df["submission_date"] = pd.to_datetime(df["submission_date"])
df.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,2020-01-22,AK,0,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,NaN,NaN
1,2020-01-23,AK,0,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,NaN,NaN
2,2020-01-24,AK,0,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,NaN,NaN
3,2020-01-25,AK,0,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,NaN,NaN
4,2020-01-26,AK,0,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,NaN,NaN

In [549]:
# Place column "submission" in increasing order AND sort by "state" also.

df = df.sort_values(by = ["submission_date", "state"])
df.head(200)

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,2020-01-22,AK,0,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,NaN,NaN
646,2020-01-22,AL,7,6,1,7.0,1.0,0,0,0,0.0,0.0,1/24/20 0:00,Agree,Agree
1292,2020-01-22,AR,0,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,Not agree,Not agree
1938,2020-01-22,AS,0,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,NaN,NaN
2584,2020-01-22,AZ,0,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,Agree,Agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9693,2020-01-25,IA,0,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,Not agree,Not agree
10339,2020-01-25,ID,0,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,Agree,Agree
10985,2020-01-25,IL,1,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,Agree,Agree
11631,2020-01-25,IN,0,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,Not agree,Agree
12277,2020-01-25,KS,0,0,0,0.0,0.0,0,0,0,0.0,0.0,3/26/20 16:22,Agree,NaN

In [550]:
# Delete column "created_at".

df.drop(columns=["created_at"], inplace = True)
df.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,consent_cases,consent_deaths
0,2020-01-22,AK,0,0,0,0.0,0.0,0,0,0,0.0,0.0,NaN,NaN
646,2020-01-22,AL,7,6,1,7.0,1.0,0,0,0,0.0,0.0,Agree,Agree
1292,2020-01-22,AR,0,0,0,0.0,0.0,0,0,0,0.0,0.0,Not agree,Not agree
1938,2020-01-22,AS,0,0,0,0.0,0.0,0,0,0,0.0,0.0,NaN,NaN
2584,2020-01-22,AZ,0,0,0,0.0,0.0,0,0,0,0.0,0.0,Agree,Agree

In [551]:
# Keep row if value of either "consent_cases" or "consent_deaths" is Agree or Not Agree.
df = df.loc[(df["consent_cases"]=="Agree")|(df["consent_deaths"]=="Agree") ]
df.head(200)

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,consent_cases,consent_deaths
646,2020-01-22,AL,7,6,1,7.0,1.0,0,0,0,0.0,0.0,Agree,Agree
2584,2020-01-22,AZ,0,0,0,0.0,0.0,0,0,0,0.0,0.0,Agree,Agree
3230,2020-01-22,CA,0,0,0,0.0,0.0,0,0,0,0.0,0.0,Agree,Not agree
3876,2020-01-22,CO,0,0,0,0.0,0.0,0,0,0,0.0,0.0,Agree,Agree
4522,2020-01-22,CT,0,0,0,0.0,0.0,0,0,0,0.0,0.0,Agree,Agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25198,2020-01-26,NYC,0,0,0,0.0,0.0,0,0,0,0.0,0.0,Agree,Agree
25844,2020-01-26,OH,0,0,0,0.0,0.0,0,0,0,0.0,0.0,Agree,Agree
26490,2020-01-26,OK,0,0,0,0.0,0.0,0,0,0,0.0,0.0,Not agree,Agree
27136,2020-01-26,OR,0,0,0,0.0,0.0,0,0,0,0.0,0.0,Agree,Agree
27782,2020-01-26,PA,0,0,0,0.0,0.0,0,0,0,0.0,0.0,Agree,Not agree

In [552]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26575 entries, 646 to 38759
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   submission_date  26575 non-null  datetime64[ns]
 1   state            26575 non-null  object
 2   tot_cases        26575 non-null  int64
 3   conf_cases       26575 non-null  int64
 4   prob_cases       26575 non-null  int64
 5   new_case         26575 non-null  float64
 6   pnew_case        26575 non-null  float64
 7   tot_death        26575 non-null  int64
 8   conf_death       26575 non-null  int64
 9   prob_death       26575 non-null  int64
 10  new_death        26575 non-null  float64
 11  pnew_death       26575 non-null  float64
 12  consent_cases    24637 non-null  object
 13  consent_deaths   25288 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(6), object(3)
memory usage: 3.0+ MB

In [553]:
# For columns "tot_cases", "conf_cases", "prob_cases", "new_case", "pnew_case", "tot_death", "conf_death",
# "prob_death", "new_death", "pnew_death", change dtype to integer.


col_headers = ["tot_cases", "conf_cases", "prob_cases", "new_case", "pnew_case", "tot_death", "conf_death",
"prob_death", "new_death", "pnew_death"]

for col in col_headers:
    df[col]=df[col].astype("int64")

df.head(200)

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,consent_cases,consent_deaths
646,2020-01-22,AL,7,6,1,7,1,0,0,0,0,0,Agree,Agree
2584,2020-01-22,AZ,0,0,0,0,0,0,0,0,0,0,Agree,Agree
3230,2020-01-22,CA,0,0,0,0,0,0,0,0,0,0,Agree,Not agree
3876,2020-01-22,CO,0,0,0,0,0,0,0,0,0,0,Agree,Agree
4522,2020-01-22,CT,0,0,0,0,0,0,0,0,0,0,Agree,Agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25198,2020-01-26,NYC,0,0,0,0,0,0,0,0,0,0,Agree,Agree
25844,2020-01-26,OH,0,0,0,0,0,0,0,0,0,0,Agree,Agree
26490,2020-01-26,OK,0,0,0,0,0,0,0,0,0,0,Not agree,Agree
27136,2020-01-26,OR,0,0,0,0,0,0,0,0,0,0,Agree,Agree
27782,2020-01-26,PA,0,0,0,0,0,0,0,0,0,0,Agree,Not agree

In [554]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26575 entries, 646 to 38759
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   submission_date  26575 non-null  datetime64[ns]
 1   state            26575 non-null  object
 2   tot_cases        26575 non-null  int64
 3   conf_cases       26575 non-null  int64
 4   prob_cases       26575 non-null  int64
 5   new_case         26575 non-null  int64
 6   pnew_case        26575 non-null  int64
 7   tot_death        26575 non-null  int64
 8   conf_death       26575 non-null  int64
 9   prob_death       26575 non-null  int64
 10  new_death        26575 non-null  int64
 11  pnew_death       26575 non-null  int64
 12  consent_cases    24637 non-null  object
 13  consent_deaths   25288 non-null  object
dtypes: datetime64[ns](1), int64(10), object(3)
memory usage: 3.0+ MB

### **Step 3:**  

Transform datetime to year only

In [555]:
#  Assume that only the year is needed.  Extract the year and place it in a column "Year_submitted."  

df["Year_submitted"] = df["submission_date"].dt.year
df.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,consent_cases,consent_deaths,Year_submitted
646,2020-01-22,AL,7,6,1,7,1,0,0,0,0,0,Agree,Agree,2020
2584,2020-01-22,AZ,0,0,0,0,0,0,0,0,0,0,Agree,Agree,2020
3230,2020-01-22,CA,0,0,0,0,0,0,0,0,0,0,Agree,Not agree,2020
3876,2020-01-22,CO,0,0,0,0,0,0,0,0,0,0,Agree,Agree,2020
4522,2020-01-22,CT,0,0,0,0,0,0,0,0,0,0,Agree,Agree,2020

In [556]:
df.columns

Index(['submission_date', 'state', 'tot_cases', 'conf_cases', 'prob_cases',
       'new_case', 'pnew_case', 'tot_death', 'conf_death', 'prob_death',
       'new_death', 'pnew_death', 'consent_cases', 'consent_deaths',
       'Year_submitted'],
      dtype='object')

In [557]:
# Delete the column "submission_date."

df.drop(columns = ["submission_date"], inplace = True)

In [558]:
# reorder columns

df_columns_new = [
'Year_submitted',
'state',
'tot_cases', 
'conf_cases', 
'prob_cases',
'new_case', 
'pnew_case', 
'tot_death', 
'conf_death', 
'prob_death',
'new_death', 
'pnew_death', 
'consent_cases',
'consent_deaths'
 ]

In [559]:
len(df_columns_new)

14

In [560]:
df = df.reindex(columns = df_columns_new)
df.head()

,Year_submitted,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,consent_cases,consent_deaths
646,2020,AL,7,6,1,7,1,0,0,0,0,0,Agree,Agree
2584,2020,AZ,0,0,0,0,0,0,0,0,0,0,Agree,Agree
3230,2020,CA,0,0,0,0,0,0,0,0,0,0,Agree,Not agree
3876,2020,CO,0,0,0,0,0,0,0,0,0,0,Agree,Agree
4522,2020,CT,0,0,0,0,0,0,0,0,0,0,Agree,Agree

In [561]:
df.shape

(26575, 14)

### **Step 4:** 

Calculate means for number of cases and number of deaths and make the target columns

In [562]:
# Add the target columns to df.

df["2020_mean_cases"] = 0
df["2020_mean_deaths"] = 0

In [563]:
# Perform a describe() on column "tot_cases" over the year 2020 only for all states.  The results apply to 
# the population of states

df_cases_2020 = df.loc[df["Year_submitted"]==2020]
mean_cases = df_cases_2020["tot_cases"].mean()
mean_cases

90135.79939381123

In [564]:
# Perform a describe() on column "tot_death" over the year 2020 only for all states.  The results apply to the
#population of states.

df_deaths_2020 = df.loc[df["Year_submitted"]==2020]
mean_deaths = df_deaths_2020["tot_death"].mean()
mean_deaths

2634.1879890040177

In [565]:
# Populate "2020_mean_cases" with 1 or 0 
# Populate "2020_mean_deaths" with 1 or 0 

# cases

for index, row in df.iterrows():
    x = row["tot_cases"]
    if x >= int(mean_cases):
        df.loc[index, "2020_mean_cases"]=1
    else:
        df.loc[index, "2020_mean_cases"]=0

print(df["2020_mean_cases"].value_counts())

# deaths

for index, row in df.iterrows():
    x = row["tot_death"]
    if x >= int(mean_deaths):
        df.loc[index, "2020_mean_deaths"]=1
    else:
        df.loc[index, "2020_mean_deaths"]=0

print(df["2020_mean_deaths"].value_counts())

1    15156
0    11419
Name: 2020_mean_cases, dtype: int64
0    13647
1    12928
Name: 2020_mean_deaths, dtype: int64

In [566]:
df.head()

,Year_submitted,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,consent_cases,consent_deaths,2020_mean_cases,2020_mean_deaths
646,2020,AL,7,6,1,7,1,0,0,0,0,0,Agree,Agree,0,0
2584,2020,AZ,0,0,0,0,0,0,0,0,0,0,Agree,Agree,0,0
3230,2020,CA,0,0,0,0,0,0,0,0,0,0,Agree,Not agree,0,0
3876,2020,CO,0,0,0,0,0,0,0,0,0,0,Agree,Agree,0,0
4522,2020,CT,0,0,0,0,0,0,0,0,0,0,Agree,Agree,0,0

In [567]:
#results database information


#make copies for statistical analysis only

Xa = df_cases_2020.copy()
Xb = df.copy()

# CASES:  describe Xa and make dataframe

stats_Xa = Xa["tot_cases"].describe()
stats_Xa_cases_df = pd.DataFrame(stats_Xa)
stats_Xa_cases_ds = stats_Xa_cases_df["tot_cases"].squeeze()

# CASES:  describe Xa and make dataframe

stats_Xb = Xb["tot_cases"].describe()
stats_Xb_cases_df = pd.DataFrame(stats_Xb)
stats_Xb_cases_ds = stats_Xb_cases_df["tot_cases"].squeeze()

# DEATHS:  describe Xa and make dataframe

stats_Xa = Xa["tot_death"].describe()
stats_Xa_death_df = pd.DataFrame(stats_Xa)
stats_Xa_death_ds = stats_Xa_death_df["tot_death"].squeeze()

# DEATHS:  describe Xa and make dataframe

stats_Xb = Xb["tot_death"].describe()
stats_Xb_death_df = pd.DataFrame(stats_Xb)
stats_Xb_death_ds = stats_Xb_death_df["tot_death"].squeeze()

stats_Xa_cases_ds.to_dict()

{'count': 14187.0,
 'mean': 90135.79939381123,
 'std': 165485.59751109127,
 'min': 0.0,
 '25%': 496.5,
 '50%': 25109.0,
 '75%': 119506.0,
 'max': 2515095.0}

In [568]:
# name of the statistics dataset used for the label column (name_statsfile)

name_statsfile = "stats_Xa_cases_ds"

#the statistic used for the setting the label column (name_statistic)

name_statistic = "mean"

### **Step 5:** 

Perform OneHotEncoding on object columns

In [569]:
# import dependencies

from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [570]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26575 entries, 646 to 38759
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year_submitted    26575 non-null  int64
 1   state             26575 non-null  object
 2   tot_cases         26575 non-null  int64
 3   conf_cases        26575 non-null  int64
 4   prob_cases        26575 non-null  int64
 5   new_case          26575 non-null  int64
 6   pnew_case         26575 non-null  int64
 7   tot_death         26575 non-null  int64
 8   conf_death        26575 non-null  int64
 9   prob_death        26575 non-null  int64
 10  new_death         26575 non-null  int64
 11  pnew_death        26575 non-null  int64
 12  consent_cases     24637 non-null  object
 13  consent_deaths    25288 non-null  object
 14  2020_mean_cases   26575 non-null  int64
 15  2020_mean_deaths  26575 non-null  int64
dtypes: int64(13), object(3)
memory usage: 4.5+ MB

In [571]:
obj_list = df.dtypes[df.dtypes == "object"].index.to_list()
obj_list

['state', 'consent_cases', 'consent_deaths']

In [572]:
# Apply OneHotEncoder to THREE columns:  "consent_cases", "consent_deaths", and "state."

enc = OneHotEncoder(sparse = False)
encoded_df = pd.DataFrame(enc.fit_transform(df[obj_list]))
encoded_df.columns = enc.get_feature_names(obj_list)
encoded_df.head(200)

,state_AL,state_AZ,state_CA,state_CO,state_CT,state_DE,state_FSM,state_GA,state_ID,state_IL,...,state_VA,state_WI,state_WV,state_WY,consent_cases_Agree,consent_cases_Not agree,consent_cases_nan,consent_deaths_Agree,consent_deaths_Not agree,consent_deaths_nan
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [573]:
df = df.merge(encoded_df, left_index = True, right_index = True)
df = df.drop(obj_list, 1)
df.head(200)

,Year_submitted,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,...,state_VA,state_WI,state_WV,state_WY,consent_cases_Agree,consent_cases_Not agree,consent_cases_nan,consent_deaths_Agree,consent_deaths_Not agree,consent_deaths_nan
646,2020,7,6,1,7,1,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2584,2020,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3230,2020,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3876,2020,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4522,2020,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14864,2020,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
15510,2020,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
16156,2020,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
16802,2020,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
18094,2020,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [574]:
df.columns

Index(['Year_submitted', 'tot_cases', 'conf_cases', 'prob_cases', 'new_case',
       'pnew_case', 'tot_death', 'conf_death', 'prob_death', 'new_death',
       'pnew_death', '2020_mean_cases', '2020_mean_deaths', 'state_AL',
       'state_AZ', 'state_CA', 'state_CO', 'state_CT', 'state_DE', 'state_FSM',
       'state_GA', 'state_ID', 'state_IL', 'state_IN', 'state_KS', 'state_KY',
       'state_LA', 'state_MA', 'state_MD', 'state_ME', 'state_MI', 'state_MN',
       'state_MP', 'state_MS', 'state_MT', 'state_NC', 'state_ND', 'state_NE',
       'state_NJ', 'state_NV', 'state_NYC', 'state_OH', 'state_OK', 'state_OR',
       'state_PA', 'state_PR', 'state_RMI', 'state_SC', 'state_SD', 'state_TN',
       'state_UT', 'state_VA', 'state_WI', 'state_WV', 'state_WY',
       'consent_cases_Agree', 'consent_cases_Not agree', 'consent_cases_nan',
       'consent_deaths_Agree', 'consent_deaths_Not agree',
       'consent_deaths_nan'],
      dtype='object')

### **Step 6:** 

Make dataframes for cases and deaths

In [575]:
#. Make a new dataframe for cases only.

columns_cases = [
'Year_submitted',
'tot_cases',
 'conf_cases',
 'prob_cases',
 'new_case',
 'pnew_case',
 'state_AL',
 'state_AZ',
 'state_CA',
 'state_CO',
 'state_CT',
 'state_DE',
 'state_FSM',
 'state_GA',
 'state_ID',
 'state_IL',
 'state_IN',
 'state_KS',
 'state_KY',
 'state_LA',
 'state_MA',
 'state_MD',
 'state_ME',
 'state_MI',
 'state_MN',
 'state_MP',
 'state_MS',
 'state_MT',
 'state_NC',
 'state_ND',
 'state_NE',
 'state_NJ',
 'state_NV',
 'state_NYC',
 'state_OH',
 'state_OK',
 'state_OR',
 'state_PA',
 'state_PR',
 'state_RMI',
 'state_SC',
 'state_SD',
 'state_TN',
 'state_UT',
 'state_VA',
 'state_WI',
 'state_WV',
 'state_WY',
 'consent_cases_Agree',
 'consent_cases_Not agree',
 'consent_cases_nan',
 '2020_mean_cases'
 ]

df_cases = df.copy()
df_cases.drop(columns = ['tot_death','conf_death','prob_death','new_death','pnew_death','consent_deaths_Agree',
 'consent_deaths_Not agree','consent_deaths_nan'], inplace = True)

df_cases = df_cases[columns_cases]
df_cases.head(200)

,Year_submitted,tot_cases,conf_cases,prob_cases,new_case,pnew_case,state_AL,state_AZ,state_CA,state_CO,...,state_TN,state_UT,state_VA,state_WI,state_WV,state_WY,consent_cases_Agree,consent_cases_Not agree,consent_cases_nan,2020_mean_cases
646,2020,7,6,1,7,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
2584,2020,0,0,0,0,0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
3230,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
3876,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
4522,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14864,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
15510,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
16156,2020,0,0,0,0,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
16802,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
18094,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0

In [576]:
df_cases.shape

(18266, 52)

In [577]:
# Make a dataframe for deaths only

columns_deaths = [
'Year_submitted',
 'tot_death',
 'conf_death',
 'prob_death',
 'new_death',
 'pnew_death',
 'state_AL',
 'state_AZ',
 'state_CA',
 'state_CO',
 'state_CT',
 'state_DE',
 'state_FSM',
 'state_GA',
 'state_ID',
 'state_IL',
 'state_IN',
 'state_KS',
 'state_KY',
 'state_LA',
 'state_MA',
 'state_MD',
 'state_ME',
 'state_MI',
 'state_MN',
 'state_MP',
 'state_MS',
 'state_MT',
 'state_NC',
 'state_ND',
 'state_NE',
 'state_NJ',
 'state_NV',
 'state_NYC',
 'state_OH',
 'state_OK',
 'state_OR',
 'state_PA',
 'state_PR',
 'state_RMI',
 'state_SC',
 'state_SD',
 'state_TN',
 'state_UT',
 'state_VA',
 'state_WI',
 'state_WV',
 'state_WY',
 'consent_deaths_Agree',
 'consent_deaths_Not agree',
 'consent_deaths_nan',
 '2020_mean_deaths'
 ]

df_deaths = df.copy()
df_deaths.drop(columns = ['tot_cases','conf_cases','prob_cases','new_case','pnew_case','consent_cases_Agree',
'consent_cases_Not agree','consent_cases_nan'], inplace = True)

df_deaths = df_deaths[columns_deaths]
df_deaths.head()

,Year_submitted,tot_death,conf_death,prob_death,new_death,pnew_death,state_AL,state_AZ,state_CA,state_CO,...,state_TN,state_UT,state_VA,state_WI,state_WV,state_WY,consent_deaths_Agree,consent_deaths_Not agree,consent_deaths_nan,2020_mean_deaths
646,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
2584,2020,0,0,0,0,0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
3230,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
3876,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
4522,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0

### **Step 7:** 

Save dataframes as csv files for folders Cases_Cleaned and Deaths_Cleaned

In [578]:
import os

In [155]:
# Save df_cases as csv file.

os.makedirs("Cases_Cleaned/",exist_ok=True)
df_cases.to_csv('Cases_Cleaned/ML_cases.csv', index = False)

In [579]:
# Save df_deaths as csv file.

os.makedirs("Deaths_Cleaned/",exist_ok=True)
df_deaths.to_csv('Deaths_Cleaned/ML_deaths.csv', index = False)

In [580]:
#results database information

casesfile_id = f"ML_cases.csv_{run_counter}"
deathsfile_id = f"ML_deaths.csv_{run_counter}"

## MACHINE LEARNING

### FIRST MODEL

TITLE: cases

MODEL: RandomForest

FILE:  Cases_Cleaned/ML_cases.csv

In [755]:
#results database information

type_model_cases = "Random Forest"
name_model_cases = "cases"

In [756]:
# Initial imports.
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [757]:
# Loading data
file_path = Path("Cases_Cleaned/ML_cases.csv")
df_cases = pd.read_csv(file_path)
df_cases.head()

,Year_submitted,tot_cases,conf_cases,prob_cases,new_case,pnew_case,state_AL,state_AZ,state_CA,state_CO,...,state_TN,state_UT,state_VA,state_WI,state_WV,state_WY,consent_cases_Agree,consent_cases_Not agree,consent_cases_nan,2020_mean_cases
0,2020,7,6,1,7,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
1,2020,0,0,0,0,0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
2,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
3,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
4,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0

In [758]:
# Define the features set.
X = df_cases.copy()
X = X.drop("2020_mean_cases", axis=1)
X.head()

,Year_submitted,tot_cases,conf_cases,prob_cases,new_case,pnew_case,state_AL,state_AZ,state_CA,state_CO,...,state_SD,state_TN,state_UT,state_VA,state_WI,state_WV,state_WY,consent_cases_Agree,consent_cases_Not agree,consent_cases_nan
0,2020,7,6,1,7,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,2020,0,0,0,0,0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [759]:
# Define the target set.
y = df_cases["2020_mean_cases"].ravel()

In [760]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [761]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [762]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78, criterion='gini',
                                  max_depth=None,max_features ='auto')

In [763]:
#results database information

#parameter names used in the arguments
# n_estimators=128
# random_state=78
# criterion = 'gini' or 'entropy'
# max_depth = None or 10
# max_features = 'auto' or 'sqrt'

rf_pars = rf_model.get_params()
rf_n_estimators = rf_pars['n_estimators']
rf_random_state = rf_pars['random_state']
rf_criterion = rf_pars['criterion']
rf_max_depth = rf_pars['max_depth']
rf_max_features = rf_pars['max_features']


par_name_1 = f"n_estimators={rf_n_estimators}"
par_name_2 = f"random_state={rf_random_state}"
par_name_3 = f"criterion={rf_criterion}"
par_name_4 = f"max_depth={rf_max_depth}"
par_name_5 = f"max_features={rf_max_features}"

par_name_5

'max_features=auto'

In [764]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [765]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [766]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         1844            0
Actual 1            0         2723

In [767]:
#results database information

CM_A0P0_cases= cm_df.loc["Actual 0", "Predicted 0"]
CM_A0P1_cases= cm_df.loc["Actual 0", "Predicted 1"]
CM_A1P0_cases= cm_df.loc["Actual 1", "Predicted 0"]
CM_A1P1_cases= cm_df.loc["Actual 1", "Predicted 1"]

In [768]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [769]:
#results database information

acc_score_cases = acc_score

In [770]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
rep = classification_report(y_test, predictions)
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         1844            0
Actual 1            0         2723

Accuracy Score : 1.0
Classification Report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1844
           1       1.00      1.00      1.00      2723

    accuracy                           1.00      4567
   macro avg       1.00      1.00      1.00      4567
weighted avg       1.00      1.00      1.00      4567

In [771]:
#results database information
from sklearn import metrics

def get_classification_report(y_test, y_pred):
    # Source: https://
    # stackoverflow.com/questions/39662398/scikit-learn-output-metrics-classification-report-into-csv-
    # tab-delimited-format
    report = metrics.classification_report(y_test, y_pred, output_dict=True)
    df_classification_report = pd.DataFrame(report).transpose()
    df_classification_report = df_classification_report.sort_values(by=['f1-score'], ascending=False)
    return df_classification_report

CR_cases_df = get_classification_report(y_test, predictions)

CR_P0_cases = CR_cases_df.loc['0', 'precision']
CR_P1_cases = CR_cases_df.loc['1', 'precision']
CR_R0_cases = CR_cases_df.loc['0', 'recall']
CR_R1_cases = CR_cases_df.loc['1', 'recall']
CR_f1_0_cases = CR_cases_df.loc['0', 'f1-score']
CR_f1_1_cases = CR_cases_df.loc['1', 'f1-score']

CR_cases_df

              precision  recall  f1-score  support
0                   1.0     1.0       1.0   1844.0
1                   1.0     1.0       1.0   2723.0
accuracy            1.0     1.0       1.0      1.0
macro avg           1.0     1.0       1.0   4567.0
weighted avg        1.0     1.0       1.0   4567.0

In [772]:
# sort the features by their importance.
imp_list = sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)
df_importance_cases = pd.DataFrame(imp_list)
df_importance_cases.rename(columns = {0 :'Importance_cases'}, inplace = True)
df_importance_cases.rename(columns = {1 :'Feature_cases'}, inplace = True)
df_importance_cases['notebook'] = run_nb['notebook']
cols_imp = ['notebook', 'Feature_cases', 'Importance_cases']
df_importance_cases = df_importance_cases.reindex(columns = cols_imp)
df_importance_cases['notebook']

0     2
1     2
2     2
3     2
4     2
5     2
6     2
7     2
8     2
9     2
10    2
11    2
12    2
13    2
14    2
15    2
16    2
17    2
18    2
19    2
20    2
21    2
22    2
23    2
24    2
25    2
26    2
27    2
28    2
29    2
30    2
31    2
32    2
33    2
34    2
35    2
36    2
37    2
38    2
39    2
40    2
41    2
42    2
43    2
44    2
45    2
46    2
47    2
48    2
49    2
50    2
Name: notebook, dtype: int64

## MACHINE LEARNING

### FIRST MODEL

TITLE: deaths

MODEL: RandomForest

FILE:  Cases_Cleaned/ML_deaths.csv

In [773]:
#results database information

model_id = 1

In [774]:
#results database information

type_model_deaths = "Random Forest"
name_model_deaths = "deaths"

In [775]:
# Loading data
file_path = Path("Deaths_Cleaned/ML_deaths.csv")
df_deaths = pd.read_csv(file_path)
df_deaths.head()

,Year_submitted,tot_death,conf_death,prob_death,new_death,pnew_death,state_AL,state_AZ,state_CA,state_CO,...,state_TN,state_UT,state_VA,state_WI,state_WV,state_WY,consent_deaths_Agree,consent_deaths_Not agree,consent_deaths_nan,2020_mean_deaths
0,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
1,2020,0,0,0,0,0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
2,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
3,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
4,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0

In [776]:
# Define the features set.
X = df_deaths.copy()
X = X.drop("2020_mean_deaths", axis=1)
X.head()

,Year_submitted,tot_death,conf_death,prob_death,new_death,pnew_death,state_AL,state_AZ,state_CA,state_CO,...,state_SD,state_TN,state_UT,state_VA,state_WI,state_WV,state_WY,consent_deaths_Agree,consent_deaths_Not agree,consent_deaths_nan
0,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,2020,0,0,0,0,0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,2020,0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [777]:
# Define the target set.
y = df_deaths["2020_mean_deaths"].ravel()

In [778]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [779]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [780]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78, criterion='gini',
                                  max_depth=None,max_features ='auto')

In [781]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [782]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [783]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         2111            0
Actual 1            0         2456

In [784]:
#results database information

CM_A0P0_death= cm_df.loc["Actual 0", "Predicted 0"]
CM_A0P1_death= cm_df.loc["Actual 0", "Predicted 1"]
CM_A1P0_death= cm_df.loc["Actual 1", "Predicted 0"]
CM_A1P1_death= cm_df.loc["Actual 1", "Predicted 1"]

In [785]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [786]:
#results database information

acc_score_death = acc_score

In [787]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         2111            0
Actual 1            0         2456

Accuracy Score : 1.0
Classification Report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      2111
           1       1.00      1.00      1.00      2456

    accuracy                           1.00      4567
   macro avg       1.00      1.00      1.00      4567
weighted avg       1.00      1.00      1.00      4567

In [788]:
#results database information
from sklearn import metrics

def get_classification_report(y_test, y_pred):
    # Source: https://
    # stackoverflow.com/questions/39662398/scikit-learn-output-metrics-classification-report-into-csv-
    # tab-delimited-format
    report = metrics.classification_report(y_test, y_pred, output_dict=True)
    df_classification_report = pd.DataFrame(report).transpose()
    df_classification_report = df_classification_report.sort_values(by=['f1-score'], ascending=False)
    return df_classification_report

CR_death_df = get_classification_report(y_test, predictions)

CR_P0_death = CR_death_df.loc['0', 'precision']
CR_P1_death = CR_death_df.loc['1', 'precision']
CR_R0_death = CR_death_df.loc['0', 'recall']
CR_R1_death = CR_death_df.loc['1', 'recall']
CR_f1_0_death = CR_death_df.loc['0', 'f1-score']
CR_f1_1_death = CR_death_df.loc['1', 'f1-score']


CR_death_df

              precision  recall  f1-score  support
0                   1.0     1.0       1.0   2111.0
1                   1.0     1.0       1.0   2456.0
accuracy            1.0     1.0       1.0      1.0
macro avg           1.0     1.0       1.0   4567.0
weighted avg        1.0     1.0       1.0   4567.0

In [789]:
# sort the features by their importance.
imp_list = sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)
df_importance_death = pd.DataFrame(imp_list)
df_importance_death.rename(columns = {0 :'Importance_death'}, inplace = True)
df_importance_death.rename(columns = {1 :'Feature_death'}, inplace = True)
df_importance_death['notebook'] = run_nb['notebook']
cols_imp = ['notebook', 'Feature_death', 'Importance_death']
df_importance_death = df_importance_death.reindex(columns = cols_imp)
df_importance_death

    notebook             Feature_death  Importance_death
0          2                 tot_death          0.466473
1          2                conf_death          0.306239
2          2                prob_death          0.106927
3          2                 new_death          0.056873
4          2            Year_submitted          0.038663
5          2                pnew_death          0.022456
6          2                  state_NE          0.000123
7          2                 state_RMI          0.000077
8          2                  state_TN          0.000073
9          2                  state_CA          0.000068
10         2                  state_WY          0.000067
11         2                  state_WV          0.000067
12         2                  state_VA          0.000065
13         2                  state_DE          0.000064
14         2      consent_deaths_Agree          0.000062
15         2                  state_IN          0.000059
16         2                 state_NYC          0.000058
17         2                  state_WI          0.000057
18         2                  state_MI          0.000057
19         2                  state_OK          0.000057
20         2                  state_ME          0.000056
21         2                  state_IL          0.000055
22         2                  state_CT          0.000054
23         2                  state_MS          0.000054
24         2                  state_KS          0.000054
25         2                  state_UT          0.000052
26         2                  state_PA          0.000051
27         2                  state_ID          0.000051
28         2                  state_AZ          0.000050
29         2                  state_NV          0.000050
30         2                  state_MD          0.000050
31         2                  state_SD          0.000049
32         2                  state_MP          0.000049
33         2                  state_NJ          0.000048
34         2                  state_PR          0.000047
35         2                  state_MN          0.000046
36         2                  state_AL          0.000046
37         2                  state_GA          0.000046
38         2                  state_MA          0.000045
39         2        consent_deaths_nan          0.000043
40         2  consent_deaths_Not agree          0.000043
41         2                  state_KY          0.000042
42         2                  state_MT          0.000042
43         2                  state_LA          0.000041
44         2                  state_ND          0.000040
45         2                  state_OH          0.000039
46         2                  state_OR          0.000038
47         2                  state_CO          0.000037
48         2                  state_SC          0.000035
49         2                  state_NC          0.000030
50         2                 state_FSM          0.000028

## PostgresSQL Database

### Database to hold machine learning results

#### Version:  results_rev0

### CREATE 4 DATAFRAMES FOR IMPORTING INTO POSTGRESQL DATABASE

In [790]:
if run_counter == 1:
    
# df_model
    
    name_nb_dict = {"name_nb":name_nb}
    run_dt_dict = {"run_dt":run_dt}
    run_nb_dict = run_nb
    source_db_dict = {"source_db":source_db}
    file_id_dict = {"file_id":file_id}
    model_id_dict = {"model_id":model_id}
    type_model_cases_dict = {"type_model_cases":type_model_cases}
    type_model_deaths_dict = {"type_model_deaths":type_model_deaths}
    name_model_cases_dict = {"name_model_cases":name_model_cases}
    name_model_deaths_dict = {"name_model_deaths":name_model_deaths}
    par_name_1_dict = {"par_name_1":par_name_1}
    par_name_2_dict = {"par_name_2":par_name_2}
    par_name_3_dict = {"par_name_3":par_name_3}
    par_name_4_dict = {"par_name_4":par_name_4}
    par_name_5_dict = {"par_name_5":par_name_5}
    casesfile_id_dict = {"casesfile_id":casesfile_id}
    deathsfile_id_dict = {"deathsfile_id":deathsfile_id}
                             
# create lists for the X data

    statsXacases_dict = stats_Xa_cases_ds.to_dict()
    statsXacases_keys = list(statsXacases_dict.keys())
    statsXacases_values = list(statsXacases_dict.values())
    
    statsXadeath_dict = stats_Xa_death_ds.to_dict()
    statsXadeath_keys = list(statsXadeath_dict.keys())
    statsXadeath_values = list(statsXadeath_dict.values())

    statsXbcases_dict = stats_Xb_cases_ds.to_dict()
    statsXbcases_keys = list(statsXbcases_dict.keys())
    statsXbcases_values = list(statsXbcases_dict.values())

    statsXbdeath_dict = stats_Xb_death_ds.to_dict()
    statsXbdeath_keys = list(statsXbdeath_dict.keys())
    statsXbdeath_values = list(statsXbdeath_dict.values())
    
# replacemnts
    
    stats_Xa_cases_dict_k ={"Xa_cases_keys":statsXacases_keys}
    stats_Xa_cases_dict_v ={"Xa_cases_values":statsXacases_values}
    stats_Xa_death_dict_k ={"Xa_deaths_keys":statsXadeath_keys}
    stats_Xa_death_dict_v ={"Xa_deaths_values":statsXadeath_values}
    stats_Xb_cases_dict_k = {"Xb_cases_keys": statsXbcases_keys}
    stats_Xb_cases_dict_v = {"Xb_cases_values":statsXbcases_values}
    stats_Xb_death_dict_k = {"Xb_deaths_keys": statsXbdeath_keys }
    stats_Xb_death_dict_v = {"Xb_deaths_values":statsXbdeath_values}
    
# updated data dictionary
    
    name_statsfile_dict = {"name_statsfile":name_statsfile}
    name_statistic_dict = {"name_statistic":name_statistic}
    data = [run_nb_dict,name_nb_dict, run_dt_dict, source_db_dict, file_id_dict, model_id_dict,
            type_model_cases_dict, type_model_deaths_dict,  name_model_cases_dict, name_model_deaths_dict,
            par_name_1_dict, par_name_2_dict, par_name_3_dict, par_name_4_dict,par_name_5_dict,casesfile_id_dict,
            deathsfile_id_dict, stats_Xa_cases_dict_k, stats_Xa_cases_dict_v,stats_Xa_death_dict_k, 
            stats_Xa_death_dict_v, stats_Xb_cases_dict_k, stats_Xb_cases_dict_v,
            stats_Xb_death_dict_k, stats_Xb_death_dict_v, name_statsfile_dict, name_statistic_dict ]
    
    data_merged = {}
    for x in data:
        data_merged.update(x)
    data_list = [data_merged]
    
    df_model = pd.DataFrame(data_list)

# df_set_stats
    
    # Xa cases dataset   
    
    Xa_cases_dict = stats_Xa_cases_ds.to_dict()
    Xa_cases_dict.update(run_nb_dict)
    Xa_cases_key_list = list(Xa_cases_dict.keys())
    Xa_cases_value_list = list(Xa_cases_dict.values())
    Xa_cases_new_keys = []

    for x in range(len(Xa_cases_dict)):
        new_key = "Xa_cases_"+ Xa_cases_key_list[x]
        Xa_cases_new_keys.append(new_key)
        Xa_cases_dict[Xa_cases_new_keys[x]] = Xa_cases_dict.pop(Xa_cases_key_list[x])

    Xa_cases_list = [Xa_cases_dict]

    Xa_cases_df = pd.DataFrame(Xa_cases_list)

    Xa_cols = list(Xa_cases_df.columns)
    xcol_item = 'Xa_cases_notebook'
    Xa_cols.insert(0,'Xa_cases_notebook')
    Xa_cols.pop(len(Xa_cols)-1)

    Xa_cases_df = Xa_cases_df[Xa_cols]
    Xa_cases_df.rename(columns = {'Xa_cases_notebook':'notebook'}, inplace = True)

    # Xa death dataset

    Xa_death_dict = stats_Xa_death_ds.to_dict()
    Xa_death_dict.update(run_nb_dict)
    Xa_death_key_list = list(Xa_death_dict.keys())
    Xa_death_value_list = list(Xa_death_dict.values())
    Xa_death_new_keys = []

    for x in range(len(Xa_death_dict)):
        new_key = "Xa_death_"+ Xa_death_key_list[x]
        Xa_death_new_keys.append(new_key)
        Xa_death_dict[Xa_death_new_keys[x]] = Xa_death_dict.pop(Xa_death_key_list[x])

    Xa_death_list = [Xa_death_dict]
    Xa_death_df = pd.DataFrame(Xa_death_list)
    
    Xa_cols = list(Xa_death_df.columns)
    xcol_item = 'Xa_death_notebook'
    Xa_cols.insert(0,'Xa_death_notebook')
    Xa_cols.pop(len(Xa_cols)-1)

    Xa_death_df = Xa_death_df[Xa_cols]
    Xa_death_df.rename(columns = {'Xa_death_notebook':'notebook'}, inplace = True)
    
    # Xb cases dataset

    Xb_cases_dict = stats_Xb_cases_ds.to_dict()
    Xb_cases_dict.update(run_nb_dict)
    Xb_cases_key_list = list(Xb_cases_dict.keys())
    Xb_cases_value_list = list(Xb_cases_dict.values())
    Xb_cases_new_keys = []

    for x in range(len(Xb_cases_dict)):
        new_key = "Xb_cases_"+ Xb_cases_key_list[x]
        Xb_cases_new_keys.append(new_key)
        Xb_cases_dict[Xb_cases_new_keys[x]] = Xb_cases_dict.pop(Xb_cases_key_list[x])

    Xb_cases_list = [Xb_cases_dict]
    Xb_cases_df = pd.DataFrame(Xb_cases_list)
    
    Xb_cols = list(Xb_cases_df.columns)
    xcol_item = 'Xb_cases_notebook'
    Xb_cols.insert(0,'Xb_cases_notebook')
    Xb_cols.pop(len(Xb_cols)-1)

    Xb_cases_df = Xb_cases_df[Xb_cols]
    
    Xb_cases_df = Xb_cases_df[Xb_cols]
    Xb_cases_df.rename(columns = {'Xb_cases_notebook':'notebook'}, inplace = True)

    # Xb death dataset

    Xb_death_dict = stats_Xb_death_ds.to_dict()
    Xb_death_dict.update(run_nb_dict)
    Xb_death_key_list = list(Xb_death_dict.keys())
    Xb_death_value_list = list(Xb_death_dict.values())
    Xb_death_new_keys = []

    for x in range(len(Xb_death_dict)):
        new_key = "Xb_death_"+ Xb_death_key_list[x]
        Xb_death_new_keys.append(new_key)
        Xb_death_dict[Xb_death_new_keys[x]] = Xb_death_dict.pop(Xb_death_key_list[x])

    Xb_death_list = [Xb_death_dict]
    Xb_death_df = pd.DataFrame(Xb_death_list)
    
    Xb_cols = list(Xb_death_df.columns)
    xcol_item = 'Xb_death_notebook'
    Xb_cols.insert(0,'Xb_death_notebook')
    Xb_cols.pop(len(Xb_cols)-1)

    Xb_death_df = Xb_death_df[Xb_cols]
        
    Xb_death_df = Xb_death_df[Xb_cols]
    Xb_death_df.rename(columns = {'Xb_death_notebook':'notebook'}, inplace = True)
    
    # merge datframes
    
    df_set_stats = Xa_cases_df.merge( Xa_death_df, on = 'notebook')
    df_set_stats = df_set_stats.merge( Xb_cases_df, on = 'notebook')
    df_set_stats = df_set_stats.merge( Xb_death_df, on = 'notebook')
    
    
# df_model_results

    results_dict ={

        'notebook': run_nb_dict['notebook'],
        'CM_A0P0_cases':CM_A0P0_cases,
        'CM_A0P1_cases':CM_A0P1_cases,
        'CM_A1P0_cases':CM_A1P0_cases,
        'CM_A1P1_cases':CM_A1P1_cases,
        'CM_A0P0_death':CM_A0P0_death,
        'CM_A0P1_death':CM_A0P1_death,
        'CM_A1P0_death':CM_A1P0_death,
        'CM_A1P1_death':CM_A1P1_death,
        'acc_score_cases':acc_score_cases,
        'acc_score_death':acc_score_death,
        'CR_P0_cases':CR_P0_cases,
        'CR_P1_cases':CR_P1_cases,
        'CR_R0_cases':CR_R0_cases,
        'CR_R1_cases':CR_R1_cases,
        'CR_f1_0_cases':CR_f1_0_cases,
        'CR_f1_1_cases':CR_f1_1_cases,
        'CR_P0_death':CR_P0_death,
        'CR_P1_death':CR_P1_death,
        'CR_R0_death':CR_R0_death,
        'CR_R1_death':CR_R1_death,
        'CR_f1_0_death':CR_f1_0_death,
        'CR_f1_1_death':CR_f1_1_death

    }

    results_list = [results_dict]
    df_model_results = pd.DataFrame(results_list)

# df_model_importances

    df_model_importances = pd.merge(df_importance_cases, df_importance_death, left_index =True, right_index=True)
    df_model_importances.drop(columns=["notebook_y", "Feature_death"], inplace = True)
    df_model_importances.rename(columns = {'notebook_x':'notebook','Feature_cases':"Feature"}, inplace = True)
    

# initialize the new dataframes

    df_model_new = df_model.copy()
    df_set_stats_new = df_set_stats.copy()
    df_model_results_new = df_model_results.copy()
    df_model_importances_new = df_model_importances.copy()

# saved copies for resetting the dataframes

    df_model_first_run = df_model.copy()
    df_set_stats_first_run = df_set_stats.copy()
    df_model_results_first_run = df_model_results.copy()
    df_model_importances_first_run = df_model_importances.copy()
        
else:
    
# dataframes for run_counter > 1

# df_model
      
    name_nb_dict = {"name_nb":name_nb}
    run_dt_dict = {"run_dt":run_dt}
    run_nb_dict = run_nb
    source_db_dict = {"source_db":source_db}
    file_id_dict = {"file_id":file_id}
    model_id_dict = {"model_id":model_id}
    type_model_cases_dict = {"type_model_cases":type_model_cases}
    type_model_deaths_dict = {"type_model_deaths":type_model_deaths}
    name_model_cases_dict = {"name_model_cases":name_model_cases}
    name_model_deaths_dict = {"name_model_deaths":name_model_deaths}
    par_name_1_dict = {"par_name_1":par_name_1}
    par_name_2_dict = {"par_name_2":par_name_2}
    par_name_3_dict = {"par_name_3":par_name_3}
    par_name_4_dict = {"par_name_4":par_name_4}
    par_name_5_dict = {"par_name_5":par_name_5}
    casesfile_id_dict = {"casesfile_id":casesfile_id}
    deathsfile_id_dict = {"deathsfile_id":deathsfile_id}
        
# create lists for the X data

    statsXacases_dict = stats_Xa_cases_ds.to_dict()
    statsXacases_keys = list(statsXacases_dict.keys())
    statsXacases_values = list(statsXacases_dict.values())
    
    statsXadeath_dict = stats_Xa_death_ds.to_dict()
    statsXadeath_keys = list(statsXadeath_dict.keys())
    statsXadeath_values = list(statsXadeath_dict.values())

    statsXbcases_dict = stats_Xb_cases_ds.to_dict()
    statsXbcases_keys = list(statsXbcases_dict.keys())
    statsXbcases_values = list(statsXbcases_dict.values())

    statsXbdeath_dict = stats_Xb_death_ds.to_dict()
    statsXbdeath_keys = list(statsXbdeath_dict.keys())
    statsXbdeath_values = list(statsXbdeath_dict.values())

    
# replacemnts
    
    stats_Xa_cases_dict_k ={"Xa_cases_keys":statsXacases_keys}
    stats_Xa_cases_dict_v ={"Xa_cases_values":statsXacases_values}
    stats_Xa_death_dict_k ={"Xa_deaths_keys":statsXadeath_keys}
    stats_Xa_death_dict_v ={"Xa_deaths_values":statsXadeath_values}
    stats_Xb_cases_dict_k = {"Xb_cases_keys":statsXbcases_keys}
    stats_Xb_cases_dict_v = {"Xb_cases_values":statsXbcases_values}
    stats_Xb_death_dict_k = {"Xb_deaths_keys": statsXbdeath_keys }
    stats_Xb_death_dict_v = {"Xb_deaths_values":statsXbdeath_values}
    

# updated data dictionary
      
    name_statsfile_dict = {"name_statsfile":name_statsfile}
    name_statistic_dict = {"name_statistic":name_statistic}
    data = [run_nb_dict,name_nb_dict, run_dt_dict, source_db_dict, file_id_dict, model_id_dict,
            type_model_cases_dict, type_model_deaths_dict,  name_model_cases_dict, name_model_deaths_dict,
            par_name_1_dict, par_name_2_dict, par_name_3_dict, par_name_4_dict,par_name_5_dict,casesfile_id_dict,
            deathsfile_id_dict, stats_Xa_cases_dict_k, stats_Xa_cases_dict_v,stats_Xa_death_dict_k, 
            stats_Xa_death_dict_v, stats_Xb_cases_dict_k, stats_Xb_cases_dict_v,
            stats_Xb_death_dict_k, stats_Xb_death_dict_v, name_statsfile_dict, name_statistic_dict ]

# legcy to be removed
#    
#    stats_Xa_cases_dict ={"Xa_cases":stats_Xa_cases_ds.to_dict()}
#    stats_Xa_death_dict ={"Xa_deaths":stats_Xa_death_ds.to_dict()}
#    stats_Xb_cases_dict = {"Xb_cases":stats_Xb_cases_ds.to_dict()}
#    stats_Xb_death_dict = {"Xb_deaths":stats_Xb_death_ds.to_dict()}
#    name_statsfile_dict = {"name_statsfile":name_statsfile}
#    name_statistic_dict = {"name_statistic":name_statistic}
#    data = [run_nb_dict,name_nb_dict, run_dt_dict, source_db_dict, file_id_dict, model_id_dict,
#           type_model_cases_dict, type_model_deaths_dict,  name_model_cases_dict, par_name_5_dict,name_model_deaths_dict,
#           par_name_1_dict, par_name_2_dict, par_name_3_dict, par_name_4_dict,  casesfile_id_dict,
#           deathsfile_id_dict, stats_Xa_cases_dict, stats_Xa_death_dict,  stats_Xb_cases_dict,
#           stats_Xb_death_dict, name_statsfile_dict, name_statistic_dict ]
#    
#
    
    data_merged = {}
    for x in data:
        data_merged.update(x)
    data_list = [data_merged]
    
    df_model = pd.DataFrame(data_list)


# df_set_stats
    
    # Xa cases dataset   
    
    Xa_cases_dict = stats_Xa_cases_ds.to_dict()
    Xa_cases_dict.update(run_nb_dict)
    Xa_cases_key_list = list(Xa_cases_dict.keys())
    Xa_cases_value_list = list(Xa_cases_dict.values())
    Xa_cases_new_keys = []

    for x in range(len(Xa_cases_dict)):
        new_key = "Xa_cases_"+ Xa_cases_key_list[x]
        Xa_cases_new_keys.append(new_key)
        Xa_cases_dict[Xa_cases_new_keys[x]] = Xa_cases_dict.pop(Xa_cases_key_list[x])

    Xa_cases_list = [Xa_cases_dict]

    Xa_cases_df = pd.DataFrame(Xa_cases_list)

    Xa_cols = list(Xa_cases_df.columns)
    xcol_item = 'Xa_cases_notebook'
    Xa_cols.insert(0,'Xa_cases_notebook')
    Xa_cols.pop(len(Xa_cols)-1)

    Xa_cases_df = Xa_cases_df[Xa_cols]
    Xa_cases_df.rename(columns = {'Xa_cases_notebook':'notebook'}, inplace = True)

    # Xa death dataset

    Xa_death_dict = stats_Xa_death_ds.to_dict()
    Xa_death_dict.update(run_nb_dict)
    Xa_death_key_list = list(Xa_death_dict.keys())
    Xa_death_value_list = list(Xa_death_dict.values())
    Xa_death_new_keys = []

    for x in range(len(Xa_death_dict)):
        new_key = "Xa_death_"+ Xa_death_key_list[x]
        Xa_death_new_keys.append(new_key)
        Xa_death_dict[Xa_death_new_keys[x]] = Xa_death_dict.pop(Xa_death_key_list[x])

    Xa_death_list = [Xa_death_dict]
    Xa_death_df = pd.DataFrame(Xa_death_list)
    
    Xa_cols = list(Xa_death_df.columns)
    xcol_item = 'Xa_death_notebook'
    Xa_cols.insert(0,'Xa_death_notebook')
    Xa_cols.pop(len(Xa_cols)-1)

    Xa_death_df = Xa_death_df[Xa_cols]
    Xa_death_df.rename(columns = {'Xa_death_notebook':'notebook'}, inplace = True)
    
    # Xb cases dataset

    Xb_cases_dict = stats_Xb_cases_ds.to_dict()
    Xb_cases_dict.update(run_nb_dict)
    Xb_cases_key_list = list(Xb_cases_dict.keys())
    Xb_cases_value_list = list(Xb_cases_dict.values())
    Xb_cases_new_keys = []

    for x in range(len(Xb_cases_dict)):
        new_key = "Xb_cases_"+ Xb_cases_key_list[x]
        Xb_cases_new_keys.append(new_key)
        Xb_cases_dict[Xb_cases_new_keys[x]] = Xb_cases_dict.pop(Xb_cases_key_list[x])

    Xb_cases_list = [Xb_cases_dict]
    Xb_cases_df = pd.DataFrame(Xb_cases_list)
    
    Xb_cols = list(Xb_cases_df.columns)
    xcol_item = 'Xb_cases_notebook'
    Xb_cols.insert(0,'Xb_cases_notebook')
    Xb_cols.pop(len(Xb_cols)-1)

    Xb_cases_df = Xb_cases_df[Xb_cols]
    
    Xb_cases_df = Xb_cases_df[Xb_cols]
    Xb_cases_df.rename(columns = {'Xb_cases_notebook':'notebook'}, inplace = True)

    # Xb death dataset

    Xb_death_dict = stats_Xb_death_ds.to_dict()
    Xb_death_dict.update(run_nb_dict)
    Xb_death_key_list = list(Xb_death_dict.keys())
    Xb_death_value_list = list(Xb_death_dict.values())
    Xb_death_new_keys = []

    for x in range(len(Xb_death_dict)):
        new_key = "Xb_death_"+ Xb_death_key_list[x]
        Xb_death_new_keys.append(new_key)
        Xb_death_dict[Xb_death_new_keys[x]] = Xb_death_dict.pop(Xb_death_key_list[x])

    Xb_death_list = [Xb_death_dict]
    Xb_death_df = pd.DataFrame(Xb_death_list)
    
    Xb_cols = list(Xb_death_df.columns)
    xcol_item = 'Xb_death_notebook'
    Xb_cols.insert(0,'Xb_death_notebook')
    Xb_cols.pop(len(Xb_cols)-1)

    Xb_death_df = Xb_death_df[Xb_cols]
        
    Xb_death_df = Xb_death_df[Xb_cols]
    Xb_death_df.rename(columns = {'Xb_death_notebook':'notebook'}, inplace = True)
    
    # merge datframes
    
    df_set_stats = Xa_cases_df.merge( Xa_death_df, on = 'notebook')
    df_set_stats = df_set_stats.merge( Xb_cases_df, on = 'notebook')
    df_set_stats = df_set_stats.merge( Xb_death_df, on = 'notebook')
    

# df_model_results

    
    results_dict ={

        'notebook': run_nb_dict['notebook'],
        'CM_A0P0_cases':CM_A0P0_cases,
        'CM_A0P1_cases':CM_A0P1_cases,
        'CM_A1P0_cases':CM_A1P0_cases,
        'CM_A1P1_cases':CM_A1P1_cases,
        'CM_A0P0_death':CM_A0P0_death,
        'CM_A0P1_death':CM_A0P1_death,
        'CM_A1P0_death':CM_A1P0_death,
        'CM_A1P1_death':CM_A1P1_death,
        'acc_score_cases':acc_score_cases,
        'acc_score_death':acc_score_death,
        'CR_P0_cases':CR_P0_cases,
        'CR_P1_cases':CR_P1_cases,
        'CR_R0_cases':CR_R0_cases,
        'CR_R1_cases':CR_R1_cases,
        'CR_f1_0_cases':CR_f1_0_cases,
        'CR_f1_1_cases':CR_f1_1_cases,
        'CR_P0_death':CR_P0_death,
        'CR_P1_death':CR_P1_death,
        'CR_R0_death':CR_R0_death,
        'CR_R1_death':CR_R1_death,
        'CR_f1_0_death':CR_f1_0_death,
        'CR_f1_1_death':CR_f1_1_death

    }

    results_list = [results_dict]
    df_model_results = pd.DataFrame(results_list)


# df_model_importances

    df_model_importances = pd.merge(df_importance_cases, df_importance_death, left_index =True, right_index=True)
    df_model_importances.drop(columns=["notebook_y", "Feature_death"], inplace = True)
    df_model_importances.rename(columns = {'notebook_x':'notebook','Feature_cases':"Feature"}, inplace = True)
    

# concat dataframes

    df_model_new = pd.concat([df_model_new, df_model], ignore_index = True)
    df_set_stats_new = pd.concat([df_set_stats_new, df_set_stats], ignore_index = True)
    df_model_results_new = pd.concat([df_model_results_new, df_model_results_new],ignore_index = True)
    df_model_importances_new = pd.concat([df_model_importances_new, df_model_importances], ignore_index = True)


# the 4 dataframes to be put into PostgresSql:
#
# df_model_new
# df_set_stats_new
# df_model_results_new
# df_model_importances_new

In [792]:
  df_model_new

,notebook,name_nb,run_dt,source_db,file_id,model_id,type_model_cases,type_model_deaths,name_model_cases,name_model_deaths,...,Xa_cases_keys,Xa_cases_values,Xa_deaths_keys,Xa_deaths_values,Xb_cases_keys,Xb_cases_values,Xb_deaths_keys,Xb_deaths_values,name_statsfile,name_statistic
0,1,ML_pn_rev0,2021-11-07 16:45:37,AWS database csv file,https://initial-datasets.s3.amazonaws.com/Unit...,1,Random Forest,Random Forest,cases,deaths,...,"[count, mean, std, min, 25%, 50%, 75%, max]","[14187.0, 90135.79939381123, 165485.5975110912...","[count, mean, std, min, 25%, 50%, 75%, max]","[14187.0, 2634.1879890040177, 4555.41710156598...","[count, mean, std, min, 25%, 50%, 75%, max]","[26575.0, 325018.25949200377, 529285.255048208...","[count, mean, std, min, 25%, 50%, 75%, max]","[26575.0, 6365.377046095955, 9479.15052084434,...",stats_Xa_cases_ds,mean
1,2,ML_pn_rev0,2021-11-07 16:45:37,AWS database csv file,https://initial-datasets.s3.amazonaws.com/Unit...,1,Random Forest,Random Forest,cases,deaths,...,"[count, mean, std, min, 25%, 50%, 75%, max]","[14187.0, 90135.79939381123, 165485.5975110912...","[count, mean, std, min, 25%, 50%, 75%, max]","[14187.0, 2634.1879890040177, 4555.41710156598...","[count, mean, std, min, 25%, 50%, 75%, max]","[26575.0, 325018.25949200377, 529285.255048208...","[count, mean, std, min, 25%, 50%, 75%, max]","[26575.0, 6365.377046095955, 9479.15052084434,...",stats_Xa_cases_ds,mean

### Import the dataframes into PostgreSQL tables
### after completing all desired runs

In [793]:
from sqlalchemy import create_engine

In [794]:
from config import db_password

In [795]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/MLmodels"

In [796]:
engine = create_engine(db_string)

In [802]:
# df_model_new.to_sql(name='mlinputs', con=engine)
#df_set_stats_new.to_sql(name='mlsetstats', con=engine)
#df_model_results_new.to_sql(name = 'rfresults', con=engine)
#df_model_importances_new.to_sql(name = 'rfimportances', con = engine)

## STOP BEFORE RUNNING THE NEXT CELL

In [528]:
# RESET OF DATAFRAMES TO THE FIRST RUN.  ONLY REST IF NEEDED.
#
# ARE YOU SURE YOU WANT TO RESET?
# ALL RUNS AFTER THE FIRST WILL BE GONE!



reset_dataframes = False
if reset_dataframes == True:
    df_model_new = df_model_first_run
    df_set_stats_new = df_set_stats_first_run
    df_model_results_new = df_model_results_first_run
    df_model_importances_new = df_model_importances_first_run

## Activities

1)  Define data sets
    a.  year 2020 (Xa)
    b.  both years 2020 and 2021 (Xb)
    
2)  Create statistics for dataset Xa and for dataset Xb

3)  Database information for df_model <br>
    a.  name of the notebook (name_nb)<br>
    b.  datetime of run (run_dt)<br>
    c.  identifier for run of the notebook (run_nb)<br>
    d.  source of database (source_db)<br>
    e.  identifier for database csv file cleaned (file_id)<br>
    f.  model identifier (model_id)
    g.  type of model (type_model_cases, type_model_deaths)<br>
    h.  name of model (name_model_cases, name_model_deaths)<br>
    h.1 model parameter name (par_name_1)
    h.2 model parameter name (par_name_2)
    h.3 model parameter name (par_name_3)
    h.4 model parameter name (par_name_4)
    i.  identifier for ML_cases.csv used (casesfile_id)<br>
    j.  identifier for ML_deaths.csv used (deathsfile_id)<br>
    k.  statistics from Xa (stats_Xa_cases_ds, stats_Xa_death_ds)<br>
    l.  statistics from Xb (stats_Xb_cases_ds, stats_Xb_death_ds)<br>
    m.  name of the statistics dataset used for the label column (name_statsfile)<br>
    n.  the statistic used for the setting the label column (name_statistic)<br>
    o.  model's pandas dataframe (df_model)<br>
    
    Database information for df_model_results
    a. cm_df cases and deaths
    b. acc scor for cases and deaths
    c. classification report for cases and deaths
    d. feature importances for cases and deaths